/*
 * override bootstrap
 */
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', sans-serif;
	color: #555;
}
.card {
	border: none;
	color: inherit;
}
.card:hover,
.card:focus {
	text-decoration: none;
}
.card-title {
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
}

.text-grey {
	color: #999;
}
time {
	font-style: italic;
}

.header {
	padding: 6rem 0 6rem 0;
}

.header .nav-link {
	color: rgba(0, 0, 0, .3);
}
.header .nav-link:hover,
.header .nav-link:focus {
	color: #007bff;
}

.underline {
	position: relative;
}
.underline:after {
	position: absolute;
	content: "";
	height: 1px;
	background-color: #ccc;
	left: 0;
	width: 50px;
	top: 100%;
}

.summary {
	max-height: 6rem;
	line-height: 2;
	overflow: hidden;
	word-wrap: break-word;
}

aside .list-group-item:first-child {
	border-radius: 0;
}
aside .list-group-item:last-child {
	border-radius: 0;
	border-bottom: none;
}
aside .list-group-item {
	border-left: none;
	border-right: none;
}

footer.footer {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: #f2f2f2;
}

/* markdown styling */
.md h1,
.md h2,
.md h3,
.md h4 {
	color: white;
	background-color: #333;
	display: inline-block;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.md blockquote {
	padding: .5rem;
	border-left: 2px solid #69c;
	border-bottom: 1px solid #aaa;
	background-color: #dadeee;
}
.md blockquote p {
	color: #454a4a;
	margin-bottom: 0;
}

.md img {
	max-width: 100%;
}

.highlight > pre {
	padding: .5rem;
}