---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 30 2014')}
	updatedDate={new Date('June 15 2023')}
	heroImage=""
>
	<p>
		My name is Weilin Shi.
	</p>

	<p>
		I write javascript, css, and html at work. I also design web pages.
	</p>

	<p>
		More importantly, I love open source. 
	</p>

	<a href="https://github.com/steambap" target="_blank">Github</a>
</Layout>
